body {
    background: no-repeat  url('./images/onyame.png');
    background-size: cover;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, .7);
}